*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.main {
  max-width: 768px;
  padding: 20px;
  margin: 0 auto;
}

.last-updated {
  margin-bottom: 10px;
}

.title {
  margin-top: 24px;
  margin-bottom: 20px;
}
