*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: white; /* Light mode background color */
  color: black; /* Light mode text color */
  font-size: 16px;
  line-height: 28px;
}

h1 {
  font-size: 2.25em;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.dark-mode {
  background-color: rgb(21, 23, 24);
  color: rgb(209, 213, 219);
}

.main {
  max-width: 768px;
  padding: 20px;
  margin: 0 auto;
}

.last-updated {
  margin-bottom: 30px;
  padding-top: 10px;
}

.greeting {
  margin-top: 20px;
  margin-bottom: 40px;
}

.title {
  margin-top: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.5em;
}

section {
  margin-bottom: 30px;
}
